:root {
    --black:#0F0F0F;
    --green:#94D40B;
    --heading-one:85px;
    --heading-two:40px;
    --tag:12px;
    --text:14px;
    --card-heading:25px;
    --mobile-heading-one:65px;
    --mobile-heading-two:30px;
    --mobile-tag:8px;
    --mobile-text:12px;
    --mobile-card-heading:20px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.black-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--green);
    background: var(--black);
    border:2px solid var(--black);
    cursor:pointer;
    font-weight:700;
}
.green-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--black);
    background: var(--green);
    border:2px solid var(--green);
    cursor:pointer;
    font-weight:700;
}

ul {
    list-style:none;
}

a {
    color:black;
    text-decoration:none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
body {
    background: var(--black);
}

/* Dropdown */

/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:var(--green);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.432);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    background-color:#0F0F0F90;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position:fixed;
}
.header-wrapper {
    padding:2rem 4rem;
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper ul li {
    color:var(--green);

}
.header-wrapper ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;
    color:var(--green);
}

@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/* Main */

main .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:1rem;
    padding-top:12rem;
}
main .wrapper button {
   margin-top:1rem;
   width:25rem;
   padding-block:0.75rem;
   transition: none;
}
main .wrapper button:hover {
    transition:none;
}
.titles {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.titles > p {
    letter-spacing:2rem;
    font-size:var(--tag);
}
main .wrapper h1 {
    color:var(--green);
    font-size:var(--heading-one);
    text-align:center;
}
main .wrapper p {
    color:white;
    text-align:center;
    line-height:1.75;
}
.hero-img img {
    width:100%;
}
br {
    display:none;
}
.hero-img {
    margin-top:-6rem;
}
@media (max-width:996px) {
    main .wrapper h1 {
        font-size:75px;
    }
}
@media (max-width:874px) {
    main .wrapper h1 {
        font-size:65px;
    }
}
@media (max-width:814px) {
    br {
        display:block;
    }
    main .wrapper {
        align-items:flex-start;
    }
    main .wrapper h1 {
        text-align:left;
        font-size:65px;
    }
    .titles > p {
        letter-spacing:1rem;
    }
    .titles {
        align-items: flex-start;
    }
    main .wrapper p {
        text-align:left;
        max-width:45ch;
    }
}

@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}

@media (max-width:510px) {
   
    main .wrapper button {
        width:100%;
        transition:none;
    }
    main .wrapper button:hover {
        transition: none;
    }
    main .wrapper a {
        width:100%;
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    main h1 {
        font-size:var(--mobile-heading-one);
    }
    .titles > p {
        font-size:var(--mobile-tag);
    }
    main .wrapper > p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:442px) {
    .hero-img {
        margin-top:-2rem;
    }
    
}
@media (max-width:425px) {
    .titles > p {
        letter-spacing:1rem;
    }
    main .wrapper p {
        max-width:50ch;
    }
}
@Media (max-width:392px) {
    main .wrapper h1 {
        font-size:50px;
    }
    main .wrapper p {
        max-width:40ch;
    }
}
@Media (max-width:320px) {
    main .wrapper h1 {
        font-size:45px;
    }
    main .wrapper p {
        max-width:40ch;
    }
}
/** Social Banner **/
.social-banner {
    padding-block:0.5rem;
    background-color:var(--green);
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.social-banner img {
    width:40px;
}

/* Section One */

.section-one .wrapper {
    display: flex;
    color:white;
    gap:4rem;
}
.section-one-right-titles h2 {
    font-size:var(--heading-two);
    color:var(--green);
}
.section-one-right-titles > p {
    letter-spacing:0.75rem;
    font-size:var(--tag);
    color:var(--green);
}
.section-one-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    width:50%;
}
.section-one-right > p {
    font-weight:300;
    line-height:1.75;
    font-size:var(--text);
}
.section-one-buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.section-one-buttons a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--green);
}
.section-one-left {
    margin-top:-6.25rem;
    width:50%;
}
.section-one-left img {
    width:100%;
}

@media (max-width:1116px) {
    .section-one .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-one-left,
    .section-one-right {
        width:100%;
    }
    .section-one-left img {
        width:75%;
    }
    .section-one-left {
        display:flex;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:700px) {
    .section-one .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .section-one .wrapper {
        padding-inline:1rem;
    }
    .section-one-right-titles > p {
        font-size:var(--mobile-tag);
    }
    .section-one-right-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-one-right > p {
        font-size:var(--mobile-text);
    }
    .section-one-buttons {
        flex-direction: column;
        width:100%;
        margin-top:1rem;
    }
    .section-one-buttons a {
        width:100%;
    }
    .section-one-buttons a button {
        width:100%;
        padding-inline:1rem;
    }
    .section-one-left img {
        width:100%;
    }
}

/* Section Two */

.section-two {
    background-color:var(--green);
}
.section-two .wrapper {
    display:flex;
    flex-direction: column;
    gap:4rem;
}
.section-two-top {
    display:flex;
    align-items: flex-end;
}
.section-two-top-left {
    width:40%;
}
.section-two-top-right {
    width:60%;
}
.section-two-top-left h2 {
    font-size:var(--heading-two);
    width:60%;
}
.section-two-top-right p {
    font-size:var(--text);
    line-height:1.75;
}
.section-two-bottom {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    width:100%;
    gap:2rem;
    padding-top:6rem;
}
.section-two-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.section-two-card img {
    width:75px;
}
.section-two-card p {
    font-weight:700;
    font-size:var(--card-heading);
    text-align:center;
}
.service-list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    margin-block:1rem;
}
.service-list-item {
    display:flex;
    align-items: center;
    gap:1rem;
    font-weight:700;

}
@media (max-width:1116px) {
    .section-two-top {
        flex-direction: column;
        align-items: flex-start;
        gap:2rem;
    }
    .section-two-top-right,
    .section-two-top-left {
        width:100%;
    }
    .section-two-top-right p {
        width:100%;
    }
    .section-two-bottom {
        padding-top:0;
    }
    
}
@media (max-width:700px) {
    .section-two .wrapper {
        padding-inline:2rem;
        padding-bottom:0;
    }
    .section-two-top-left h2 {
        width:100%;
    }
    
}
@media (max-width:500px) {
    .section-two .wrapper {
        padding-inline:1rem;
    }
    .section-two-top-left p {
        font-size:var(--mobile-tag);
    }
    .section-two-top-left > h2 {
        font-size:var(--mobile-heading-two) ;
    }
    .section-two-top-right p {
        font-size:var(--mobile-text);
    }
    .section-two-bottom {
        grid-template-columns:1fr;
    }
    .section-two-card p {
        font-size:var(--mobile-card-heading);
    }
}



/* Section Three */

.section-three {
    background-color:var(--green);
}
.section-three .wrapper {
    display:flex;
    gap:4rem;
    align-items: center;
}
.section-three-left h2 {
    font-size:var(--heading-two);
}
.section-three-left {
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.section-three-left-titles > p {
    font-size:var(--tag);
    letter-spacing:0.75rem;
}
.section-three-left > p {
    line-height:1.75;
    font-size:var(--text);
    font-weight:300;
}
.section-three-buttons {
    display:flex;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
}
.section-three-buttons a:nth-child(2) button {
    background-color:transparent;
    color:var(--black);
}
.section-three-left,
.section-three-right {
    width:50%;
}
.section-three-right img {
    width:100%;
}

@media (max-width:1116px) {
    .section-three .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .section-three-left,
    .section-three-right {
        width:100%;
    }
}
@media (max-width:700px) {
    .section-three .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .section-three .wrapper {
        padding-inline:1rem;
    }
    .section-three-left-titles > p {
        font-size:var(--mobile-tag);
    }
    .section-three-left-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-three-left > p {
        font-size:var(--mobile-text);
    }
    .section-three-buttons {
        flex-direction: column;
        width:100%;
    }
    .section-three-buttons a {
        width:100%;
    }
    .section-three-buttons button {
        width:100%;
    }
}


/* Section Four */
.section-four {
    background-color:var(--black);
    color:var(--green);
}
.section-four .wrapper {
    display:flex;
    flex-direction: column;
    gap:4rem;
}
.section-four-top {
    display:flex;
    align-items: flex-end;
}
.section-four-top-left {
    width:40%;
}
.section-four-top-right {
    width:60%;
}
.section-four-top-left h2 {
    font-size:var(--heading-two);
    width:100%;
}
.section-four-top-right p {
    font-size:var(--text);
    line-height:1.75;
}
.section-four-bottom {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    width:100%;
    gap:2rem;
    padding-top:6rem;
}


.section-four-bottom img {
    width:100%;
}
@media (max-width:1116px) {
    .section-four-top {
        flex-direction: column;
        align-items: flex-start;
        gap:2rem;
    }
    .section-four-top-right {
        width:100%;
    }
    .section-four-top > p {
        width:100%;
    }
}
@media (max-width:700px) {
    .section-four .wrapper {
        padding-inline:2rem;
        
    }
    .section-four-bottom {
        padding-block:2rem;
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );


    }
    .section-four-top-left h2 {
        width:100%;
    }
    .section-four-top-left {
        width:100%;
    }
    
}
@media (max-width:500px) {
    .section-four .wrapper {
        padding-inline:1rem;
    }
    .section-four-top-left > p {
        font-size:var(--mobile-tag);
    }
    .section-four-top-left h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-four-top-right p {
        font-size:var(--mobile-text);
    }
    .section-four-bottom {
        padding-block:2rem;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

    }
}

/* Section Five */

.section-five .wrapper h2 {
    color:var(--green);
    font-size:var(--heading-two);
    text-align:center;
    line-height:1.5;
}
.section-five .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-block:8rem;
}
@media (max-width:700px) {
    .section-five .wrapper {
        padding-inline:2rem;
        padding-top:0;
    }
    .section-five .wrapper h2 {
        font-size:35px;
    }
}
@media (max-width:500px) {
    .section-five .wrapper {
        padding-inline:1rem;
    }
    .section-five .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
}
/* Form */

.form-section .wrapper {
    padding-top:0;
    
}

.contact-card {
    background-color:var(--green);
    border-radius:48px;
    display:flex;
    padding:4rem;
    align-items: center;
    gap:4rem;
    padding-right:0;
}
.contact-card img {
    width:100%;
}
.form-section-left {
    width:50%;
}
.form-section-right {
    width:50%;
}
.form-section-right {
    margin-left:-4rem;
}
.form-section-left {
    display:flex;
    flex-direction: column;
    gap:4rem;
}
.form-section-titles > p {
    font-size: var(--tag);
    letter-spacing:0.75rem;
}
.form-section-titles h2 {
    font-size:var(--heading-two);
}
form {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}
fieldset {
    border:none;
    display:flex;
    flex-direction: column;
    width:80%;
    gap:0.5rem;
}
input,
textarea {
    padding:0.5rem;
    background-color:transparent;
    border:none;
    border-bottom:2px solid var(--black);
    border-radius:12px;
    font-size:14px;

}
input:focus,
textarea:focus {
    outline:none;
}
form button {
    margin-top:1rem;
}
@media (max-width:1110px) {
    
    fieldset {
        width:100%;
    }
    .contact-card {
        flex-direction: column;
        align-items: flex-start;
        padding-inline:4rem;
    }
    .form-section-left {
        width:100%;
    }
    .form-section-right {
        display:none;
    }
}
@media (max-width:700px) {
    .contact-card {
        padding-inline:2rem;
    }
    .form-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .contact-card {
        padding-inline:1rem;
    }
    .form-section .wrapper {
        padding-inline:1rem;
    }
    .form-section-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .form-section-titles > p {
        font-size:var(--mobile-tag);
    }
    textarea,
    input {
        width:100%;
    }
}


/* Footer */

footer .wrapper {
    display:flex;
    flex-direction: column;
    color:var(--green);
    align-items: flex-start;
    gap:4rem;
}
.footer-bottom {
    border-top:1px solid var(--green);
    padding-top:2rem;
    width:100%;
}
.footer-bottom p {
    font-weight:300;
    font-size:var(--text);
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.footer-top button {
    background-color:transparent;
    color:var(--green);
    transition:500ms;

}
.footer-top ul {
    display:flex;
    align-items: center;
    gap:2rem;
}
.footer-top-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.footer-top-right button:hover {
    color:var(--black);
    background-color:var(--green);
    transition:500ms;
}
footer a {
    color:var(--green);
}
.footer-bottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom a {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
@media (max-width:1116px) {
    .footer-top,
    .footer-top ul {
        flex-direction: column;
        gap:4rem;
    }
    .footer-bottom {
        align-items: center;
        display:flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap:4rem;  
    }
}
@media (max-width:700px) {
    footer .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    footer .wrapper {
        padding-inline:1rem;
    }
}

/* Hover */

.black-button:hover {
    background-color:transparent;
    color:var(--black);
    transition:500ms;
}
.green-button:hover {
    background-color:transparent;
    color:var(--green);
    transition:500ms;
}
.black-button,
.green-button {
    transition:500ms;
}
main a:nth-child(2) .black-button:hover {
    background-color:var(--black);
    color:var(--green);
}
.section-one a:nth-child(2) .green-button:hover {
    background-color:var(--green);
    color:var(--black);
}
.section-new a:nth-child(2) button:hover {
    background-color:var(--green);
    color:var(--black);
}
.section-three a:nth-child(2) .black-button:hover {
    color:var(--green);
    background-color:var(--black);
}

/* New */
/* Section One */

.section-new .wrapper {
    display: flex;
    color:white;
    gap:4rem;
}
.section-new-right-titles h2 {
    font-size:var(--heading-two);
    color:var(--green);
}
.section-new-right-titles > p {
    letter-spacing:0.75rem;
    font-size:var(--tag);
    color:var(--green);
}
.section-new-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    width:50%;
}
.section-new-right > p {
    font-weight:300;
    line-height:1.75;
    font-size:var(--text);
}
.section-new-buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.section-new-buttons a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--green);
}
.section-new-left {
    width:50%;
}
.section-new-left img {
    width:100%;
}

@media (max-width:1116px) {
    .section-new .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-new-left,
    .section-new-right {
        width:100%;
    }
    .section-new-left img {
        width:100%;
    }
    .section-new-left {
        display:flex;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:700px) {
    .section-new .wrapper {
        padding-inline:2rem;
        padding-bottom:0;
    }
}
@media (max-width:500px) {
    .section-new .wrapper {
        padding-inline:1rem;
    }
    .section-new-right-titles > p {
        font-size:var(--mobile-tag);
    }
    .section-new-right-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-new-right > p {
        font-size:var(--mobile-text);
    }
    .section-new-buttons {
        flex-direction: column;
        width:100%;
        margin-top:1rem;
    }
    .section-new-buttons a {
        width:100%;
    }
    .section-new-buttons a button {
        width:100%;
        padding-inline:1rem;
    }
    .section-new-left img {
        width:100%;
    }
}