:root {
    --black:#0F0F0F;
    --green:#94D40B;
    --heading-one:85px;
    --heading-two:40px;
    --tag:12px;
    --text:14px;
    --card-heading:25px;
    --mobile-heading-one:65px;
    --mobile-heading-two:30px;
    --mobile-tag:8px;
    --mobile-text:12px;
    --mobile-card-heading:20px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.black-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--green);
    background: var(--black);
    border:2px solid var(--black);
    cursor:pointer;
    font-weight:700;
}
.green-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--black);
    background: var(--green);
    border:2px solid var(--green);
    cursor:pointer;
    font-weight:700;
}

ul {
    list-style:none;
}

a {
    color:black;
    text-decoration:none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
body {
    background: var(--black);
}

/* Dropdown */

/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:var(--green);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.432);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    background-color:#0f0f0f8e;
    position:fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.header-wrapper {
    padding:2rem 4rem;
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;

}
.header-wrapper li {
    color:var(--green);

}
header button {
    background-color:var(--green)!important;
    color:var(--black) !important;
}
header button:hover {
    background-color:transparent !important;
    color:var(--green) !important;
}
.header-wrapper .black-button {
    border:2px solid var(--green)
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/* Main */

main {
    background-image: url(../images/cleaner-removebg1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    
}

main .wrapper {
    padding-bottom:13rem;
    padding-top:13rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
main .wrapper h1 {
    font-size:var(--heading-one);
    color:var(--green);
}
.heading-one-container > p {
    letter-spacing:0.75rem;
    font-weight:200;
    color:var(--green);

}
main .wrapper > p {
    font-weight:200;
    font-size:var(--text);
    max-width:45ch;
    line-height: 1.75;
    color:var(--green);
}
.hero-button-container {
    margin-top:1rem;
    display:flex;
    align-items: center;
    gap:1rem ;
}
.hero-button-container button {
    padding:1rem 8rem;
    border:2px solid var(--green);
    background-color:var(--green);
    color:var(--black);
}
.hero-button-container a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--black);
    border:2px solid var(--green);
    color:var(--green)
}
@media (max-width:883px) {
    main .wrapper h1 {
        font-size:70px;
    }
    .hero-button-container button {
        padding-inline:8rem;
    }
    main .wrapper p {
        max-width:40ch;
    }
    main .wrapper {
        padding-bottom:12rem;
    }
    main {
        background-repeat: no-repeat;
        background-size:max(100%, 40rem);
        background-position:top;
        
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:634px) {
    main .wrapper h1 {
        font-size:65px;
    }
   
    .hero-button-container {
        flex-direction: column;
        width:100%;
    }
    .hero-button-container a {
        width:100%;
    }
    .hero-button-container button {
        width:25rem;
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    main .wrapper h1 {
        font-size:var(--mobile-heading-one);
    }
    main .wrapper > p {
        font-size:var(--mobile-text)
    }
    .heading-one-container > p {
        font-size:var(--mobile-tag);
    }
}
@media (max-width:483px) {
    .hero-button-container button {
        width:100%;
        padding-inline:1rem;
    }
}
@media (max-width:380px) {
    main .wrapper h1 {
        font-size:60px;
    }
}
@media (max-width:350px) {
    main .wrapper h1 {
        font-size:55px;
    }
}
@media (max-width:320px) {
    main .wrapper h1 {
        font-size:50px;
    }
}
@media (max-width:294px) {
    main .wrapper h1 {
        font-size:45px;
    }
}

/* Section Three */

.section-three {
    background-color:var(--green);
}
.section-three .wrapper {
    display:flex;
    gap:4rem;
    align-items: center;
}
.section-three-left h2 {
    font-size:var(--heading-two);
}
.section-three-left {
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.section-three-left-titles > p {
    font-size:var(--tag);
    letter-spacing:0.75rem;
}
.section-three-left > p {
    line-height:1.75;
    font-size:var(--text);
    font-weight:300;
}
.section-three-buttons {
    display:flex;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
}
.section-three-buttons a:nth-child(2) button {
    background-color:transparent;
    color:var(--black);
}
.section-three-left,
.section-three-right {
    width:50%;
}
.section-three-right img {
    width:100%;
}

@media (max-width:1116px) {
    .section-three .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .section-three-left,
    .section-three-right {
        width:100%;
    }
}
@media (max-width:700px) {
    .section-three .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .section-three .wrapper {
        padding-inline:1rem;
    }
    .section-three-left-titles > p {
        font-size:var(--mobile-tag);
    }
    .section-three-left-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-three-left > p {
        font-size:var(--mobile-text);
    }
    .section-three-buttons {
        flex-direction: column;
        width:100%;
    }
    .section-three-buttons a {
        width:100%;
    }
    .section-three-buttons button {
        width:100%;
    }
}

/* Section One */

.section-one {
    background-image: linear-gradient(to bottom, #0F0F0F, #0F0F0F00 50%), linear-gradient(to top, #0F0F0F, #0F0F0F00 50%), linear-gradient(to left, #0F0F0F 10%, #0F0F0F00 100%), url(../images/various-cleaning-products-basket-black-surface1.png);
    background-size:cover;
    background-repeat:no-repeat;
}

.section-one .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:white;
    gap:4rem;
    padding-block:12rem;
}
.section-one-right-titles h2 {
    font-size:var(--heading-two);
    color:var(--green);
}
.section-one-right-titles > p {
    letter-spacing:0.75rem;
    font-size:var(--tag);
    color:var(--green);
}
.section-one-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    width:50%;
    
}
.section-one-right > p {
    font-weight:300;
    line-height:1.75;
    font-size:var(--text);
}
.section-one-buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.section-one-buttons a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--green);
}



@media (max-width:1116px) {
    .section-one .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-one-left,
    .section-one-right {
        width:100%;
    }
    .section-one-left img {
        width:75%;
    }
    .section-one-left {
        display:flex;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:700px) {
    .section-one .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .section-one .wrapper {
        padding-inline:1rem;
    }
    .section-one-right-titles > p {
        font-size:var(--mobile-tag);
    }
    .section-one-right-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .section-one-right > p {
        font-size:var(--mobile-text);
    }
    .section-one-buttons {
        flex-direction: column;
        width:100%;
        margin-top:1rem;
    }
    .section-one-buttons a {
        width:100%;
    }
    .section-one-buttons a button {
        width:100%;
        padding-inline:1rem;
    }
    .section-one-left img {
        width:100%;
    }
}
/** Goodbye **/

.goodbye-section {
    background-color:var(--green);
}
.goodbye-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block:14rem;
}
.goodbye-section p {
    font-size:35px;
}
.goodbye-section h2 {
    font-size:100px;
    text-align: center;
}
.goodbye-section .wrapper button {
    margin-top:1rem;
    padding:1rem 4rem;
}
@media (max-width:700px) {
    .goodbye-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:619px) {
    .goodbye-section .wrapper h2 {
        font-size:75px;
    }
    .goodbye-section p {
        font-size:30px;
    }
}

@media (max-width:530px) {
    .goodbye-section p {
        font-size:25px !important;
    }
    .goodbye-section h2 {
        font-size:65px !important;
    }
    .goodbye-section .wrapper button {
        margin-top:1rem;
        padding:1rem 4rem;
    }
}

@media (max-width:500px) {
    .goodbye-section .wrapper {
        padding-inline:1rem;
    }
    
}
@Media (max-width:466px) {
    .goodbye-section p {
        font-size:20px !important;
    }
    .goodbye-section h2 {
        font-size:60px !important;
    }
    .goodbye-section .wrapper button {
        margin-top:1rem;
        padding:1rem 3rem;
    }
}
@Media (max-width:382px) {
    .goodbye-section p {
        font-size:18px !important;
    }
    .goodbye-section h2 {
        font-size:50px !important;
    }
    .goodbye-section .wrapper button {
        margin-top:1rem;
        padding:0.8rem 3rem;
    }
}
@Media (max-width:334px) {
    .goodbye-section p {
        font-size:16px !important;
    }
    .goodbye-section h2 {
        font-size:40px !important;
    }
    .goodbye-section .wrapper button {
        margin-top:1rem;
        padding:0.8rem 3rem;
    }
}
/* Footer */

footer .wrapper {
    display:flex;
    flex-direction: column;
    color:var(--green);
    align-items: flex-start;
    gap:4rem;
}
.footer-bottom {
    border-top:1px solid var(--green);
    padding-top:2rem;
    width:100%;
}
.footer-bottom p {
    font-weight:300;
    font-size:var(--text);
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.footer-top button {
    background-color:transparent;
    color:var(--green);
    transition:500ms;

}
.footer-top ul {
    display:flex;
    align-items: center;
    gap:2rem;
}
.footer-top-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.footer-top-right button:hover {
    color:var(--black);
    background-color:var(--green);
    transition:500ms;
}
footer a {
    color:var(--green);
}
.footer-bottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom a {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
@media (max-width:1116px) {
    .footer-top,
    .footer-top ul {
        flex-direction: column;
        gap:4rem;
    }
    .footer-bottom {
        align-items: center;
        display:flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap:4rem;  
    }
}
@media (max-width:700px) {
    footer .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    footer .wrapper {
        padding-inline:1rem;
    }
}

/* Hover */

.black-button:hover {
    background-color:transparent;
    color:var(--black);
    transition:500ms;
}
.section-new a:nth-child(2) button:hover {
    background-color:var(--green);
    color:var(--black);
}
.green-button:hover {
    background-color:transparent;
    color:var(--green);
    transition:500ms;
}
.black-button,
.green-button {
    transition:500ms;
}
main .black-button:hover {
    color:var(--green);
}
main a:nth-child(2) .black-button:hover {
    background-color:var(--green) ;
    color:var(--black);
}
.section-one a:nth-child(2) .green-button:hover {
    background-color:var(--green);
    color:var(--black);
}
.section-three a:nth-child(2) .black-button:hover {
    color:var(--green);
    background-color:var(--black);
}


/** Team **/

.meet-the-team-section .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
}
.team-titles {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.team-titles-left h2 {
    font-size:var(--heading-two);
    color:var(--green);
}
.team-titles-left p {
    font-size:var(--tag);
    color:var(--green);
}
.team-titles-left {
    width:40%;
}
.team-titles-left + p {
    width:60%;
    font-weight:300;
    line-height:1.75;
    color:var(--green);
}
.team-grid {
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    display:grid;
    gap:2rem;
    width:100%;
}
.team-grid img {
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
}
.team-grid-item {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    gap:0.5rem;
}
.team-grid-item p {
    font-size:var(--heading-two);
    font-weight:700;
    color:var(--green);
}
.team-grid-item p:nth-of-type(2) {
    font-size:var(--text);
    font-weight:400;
}
@media (max-width:1015px) {
    .team-titles {
        flex-direction: column;
        align-items: flex-start;
        gap:2rem;
    }
    .team-titles-left,
    .team-titles-left + p {
        width:100%;
    }
}
@Media (max-width:700px) {
    .meet-the-team-section .wrapper {
        padding-inline:2rem;
    }
    .team-grid {
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    }
}
@media (max-width:500px) {
    .team-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .team-titles-left p {
        font-size:var(--mobile-tag);
    }
    .team-titles-left + p {
        font-size:var(--mobile-text);
    }
    .team-grid-item p {
        font-size:var(--mobile-heading-two);
        font-weight:700;
    }
    .team-grid-item p:nth-of-type(2) {
        font-size:var(--mobile-text);
        font-weight:400;
    }
}
@Media (max-width:500px) {
    .meet-the-team-section .wrapper {
        padding-inline:1rem;
    }
    .team-grid {
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
}